/*Main Page CSS*/
.ul-movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-summary-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: rgb(69,115,195);
  border-radius: 10px;
  width: 500px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  margin: 10px;
}

.movie-summary-left {

}

.movie-summary-right {
  align-items: center;
  width: 100%;
}

.movie-summary-right ul {
  list-style: none;
  color: #FFF;
  font-size: 17px;

}
.movie-summary-right ul li {
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
}



/*Review List Page CSS*/

h3 {
  margin: 0px;
  padding: 20px;
  background-color: #bcf7ff;
}

.reviewForm {
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: #bcf7ff;
}

.form-group {
  background-color: #bcf7ff;
  padding: 10px;
}

.reviewLabel {
  padding-right: 10px;
}

/*Items after submitting Reviews*/
.review_List {
  padding: 0px;
}

.review_Item {
  height: 100%;
  height: inherit;
  border-style: solid;
  overflow: hidden;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.rating_Review {
  padding-right: 30px;
  font-weight: bold;
  display: inline;
}

.title_Review {
  font-weight: bold;
  display: inline;
}

.review_Review {
  padding-bottom: 20px;
  font-weight: bold;
  border-style: groove;
}

.author_Review {
  float:right;
}
